
{% set visits =  h.get_visits_for_resource(res.id) %}

<h2 class="module-heading">{{ _('Stats') }}</h2>
<span>{{ _('Last 30 days, updated daily') }}</span>
<div id="chart_div"></div>

<span>{{ _('All time downloads:' ) }} {{ visits.count }}</span>

<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
              'modules':[{
                'name':'visualization',
                'version':'1',
                'packages':['corechart']
              }]
            }"></script>

<script type="text/javascript">
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["{{ _('Year') }}", "{{ _('Downloads') }}"],
            {% for v in visits.downloads %}
        [new Date({{ v.year }}, {{ v.month - 1 }}, {{ v.day }}), {{ v.visits }}],
        {% endfor %}
    ]);
        var options = {
            hAxis: {
                textPosition: 'none',
                format: 'dd.MM.yyyy',
                gridlines: {
                    count : 4
                }
            },
            vAxis: {
                minValue: 4
            },
            legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>